@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



<div class="mdc-card error-card">

    <section class="card-content">
        <i class="material-icons error-card-icon">warning</i>
        <h1 class="mdc-typography--headline4 error-card-title">Oh snap!</h1>
        <p>An error occurred while processing your request.</p>
        @if (Model != null && Model.ShowRequestId)
        {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
        }
        
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
            <p>@error.ErrorMessage</p> 
            }
        }
    </section>


    <div class="mdc-card__actions  error-card-actions">
       <button class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button">Dismiss</button>
    </div>
</div>

