@import "./app/shared/layout/app-bar/app-bar-theme";
@import "./app/shared/layout/sidebar/sidebar-theme";
@import "./app/shared/layout/page-header/page-header-theme";

@import "./assets/styles/vendors/ngx-datatable";
@import "./assets/styles/vendors/mat-card";
@import "./assets/styles/vendors/mat-form-field";

@import "~@angular/material/theming";
@include mat-core();
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn: mat-palette($mat-red);
$theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($theme);

$config: mat-typography-config(
    $font-family:   'Roboto, "Helvetica Neue", sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat-typography-level(16px, 1.125, 400)
);
@include angular-material-typography($config);

@include app-bar-theme($theme);
@include app-sidebar-theme($theme);
@include app-page-header-theme($theme);
@include app-ngx-datatable($theme);
@include app-mat-form-field($theme);
@include app-mat-card($theme);
@include app-bar-typography($config);
@include app-sidebar-typography($config);



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}





.page-layout {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  .content {
    position: relative;
    flex: 1;
    margin: 0px;
  }
}

.card-indicator {
  min-width: 190px;
}


.loading-form {
    &.is-loading {
        button {
            cursor: default;
            pointer-events: none;
        }
        button[type="submit"] {
            .mat-spinner {
                display: initial;
                margin-right: 5px;
            }
            .mat-button-wrapper {
                display:flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
            }
            &.mat-fab .mat-icon {
                display: none;
            }
            &.mat-accent, &.mat-primary {
                 .mat-spinner circle {
                     stroke: #ffffff;
                 }
            }
        }
    
        .mat-dialog-content, .mat-card-content {
            overflow: hidden;
            opacity: 0.5;
        }
    }

    button[type="submit"] .mat-spinner {
        display: none;
    }
}