.example-spacer {
    flex: 1 1 auto;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
    .content {
        flex: 1;
        position: relative;
        margin: 0px;
    }
}

.page-toolbar .mat-toolbar {
    padding: 4rem 2rem 1rem 2rem;
}

.page-title {
    font-size: 2rem;
    margin-right: 6rem;
}

.logo {
    width: 45px;
    max-height: 45px;
}

.logo img {
    max-width: 45px;
    max-height: 45px;
}