<div class="page-layout" *ngIf="role">
    <app-page-header>
        <h1 app-page-header-title>{{role.name}}</h1>
        <app-page-header-actions>
            <button mat-icon-button (click)="delete()">
                <mat-icon class="example-icon">delete</mat-icon>
            </button>
        </app-page-header-actions>
    </app-page-header>
    <mat-tab-group>
        <mat-tab label="Settings" i18n-label>
            <div class="content">
                <div fxLayout="row">
                    <app-role-settings-form></app-role-settings-form>
                    <div>
                        <mat-card class="card-indicator mat-teal">
                            <h2 class="indicator">{{role.lastLoginDate | date:'medium' }}</h2>
                            <p class="indicator-info">
                                <ng-container i18n>Last login date</ng-container>
                            </p>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Permissions" i18n-label>
            <div class="content">
                <div fxLayout="row">
                    <app-role-permissions></app-role-permissions>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>