<div class="page-layout" *ngIf="role">
    <div class="page-toolbar">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <!-- <img class="header-avatar mr-3" *ngIf="role.logoUri" [src]="role.logoUri" alt="" width="42"> -->
                <h1 class="page-title">{{role.name}}</h1>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="delete()">
                    <mat-icon class="example-icon">delete</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <mat-tab-group>
        <mat-tab label="Settings" i18n-label>
            <div class="content">
                <div fxLayout="row">
                    <app-role-settings-form></app-role-settings-form>
                    <div>
                        <mat-card class="card-indicator mat-teal">
                            <h2 class="indicator">{{role.lastLoginDate | date:'medium' }}</h2>
                            <p class="indicator-info">
                                <ng-container i18n>Last login date</ng-container>
                            </p>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Permissions" i18n-label>
            <div class="content">
                <div fxLayout="row">
                    <app-role-permissions></app-role-permissions>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>