.mat-button-type {
    width: 300px;
}

.type-selector {
    display: flex;
    flex-direction: row;
    text-align: center;


    .selector {
        color: #666;

        .selector-icon {
            color: #888;
            font-size: 2rem
        }
    
        .selector-title {
            margin-top: 1rem;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
        }
    
        .selector-desciption {
            font-style: italic;
        }
    }
    .selector.selected {
        border: solid 1px red;
        box-shadow: 0 0px 1px -2px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }

}

.info-message {
    font-style: italic;
    margin-bottom: 1.5rem;
    color: #777;
}