<div class="page-layout" *ngIf="client">
    <app-page-header>
        <h1 app-page-header-title>{{client.clientName}}</h1>
        <p app-page-header-subtitle>{{ client.clientTypeId | reference:'clientTypes' | async }}</p>
        <app-page-header-actions>
            <button mat-icon-button (click)="delete()">
                <mat-icon>delete</mat-icon>
            </button>
        </app-page-header-actions>
    </app-page-header>
    <mat-tab-group>
        <mat-tab i18n-label label="Settings">
            <div class="content">
                <app-client-settings-form></app-client-settings-form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>