<h2 mat-dialog-title>
  <ng-container i18n>New user</ng-container>
</h2>
<form [formGroup]="formGroup" fxLayout="column" (ngSubmit)="onSubmit()" [appLoadingForm]="loading">
  <mat-dialog-content>
    <div class="shadow-none">
      <mat-form-field>
        <mat-select i18n-placeholder placeholder="Tenant" formControlName="tenantId" required>
          <mat-option *ngFor="let tenant of tenants$ | async" [value]="tenant.id">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img width="30" [src]="tenant.logoUri" alt="" class="mr-3">{{tenant.name}}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mb-0">
        <input matInput i18n-placeholder placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="formGroup.controls['email'].errors?.notUnique" i18n>An other user has the same name.</mat-error>
        <mat-hint>The email is used as login.</mat-hint>
      </mat-form-field>
      <mat-form-field class="mb-1">
        <input matInput i18n-placeholder placeholder="Given name" formControlName="givenName" required>
      </mat-form-field>
      <mat-form-field class="mb-1">
        <input matInput i18n-placeholder placeholder="Family name" formControlName="familyName" required>
      </mat-form-field>
      <mat-form-field i18n-placeholder placeholder="Roles">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let role of formGroup?.value.roles">
            {{role}}
          </mat-chip>
          <input
            formControlName="roles" 
            placeholder="Roles"
            #roleInput
            [formControl]="roleCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            matChipInputAddOnBlur="false"
            > 
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let role of roles$ | async" [value]="role">
            {{role.normalizedName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close i18n>Cancel</button>
    <button mat-button type="submit">
      <mat-spinner diameter="20"></mat-spinner>
      <ng-container i18n>Save</ng-container>
    </button>
  </mat-dialog-actions>
</form>