@mixin app-snackbar-message-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $warn: map-get($theme, warn);
    $success: map-get($theme, success);
    $primary: map-get($theme, primary);
    $theme-colors: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      success: $success
    );
  
    @each $name, $color in $theme-colors {
      .app-snackbar-#{$name} {
        background: mat-color($color, 50);
        color: mat-contrast($color, 50);
  
        @include _mat-theme-elevation(3, $theme);
        .qup-button {
          color: mat-color($color, default-contrast);
        }
        .app-snackbar-icon {
          color: mat-color($color, 500);
        }
      }
    }
  }
  
  @mixin app-snackbar-typography($config) {
    .app-snackbar-message {
      font-size: mat-font-size($config, caption);
    }
  }
  
  