<div class="page-layout" *ngIf="tenant">
    <app-page-header>
        <h1 app-page-header-title>{{tenant.name}}</h1>
        <app-page-header-actions>
            <button mat-icon-button (click)="delete()">
                <mat-icon>delete</mat-icon>
            </button>
        </app-page-header-actions>
    </app-page-header>
    <mat-tab-group>
        <mat-tab label="Settings" i18n-label>
            <div class="content">
                <div fxLayout="row">
                    <app-tenant-settings-form></app-tenant-settings-form>
                    <div>
                        <mat-card class="card-indicator mat-teal">
                            <h2 class="indicator"> {{ tenant?.usersNumber }}</h2>
                            <p class="indicator-info">
                                <ng-container i18n>users on the tenant</ng-container>
                            </p>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>