
$bar-height: 64px;
$bar-logo-height: 32px;
$bar-logo-margin: 8px;


.app-bar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: $bar-height;
  .ghost-icon-button {
    margin-top: -3px;
  }

  .ghost-icon-button:not(:first-child) {
    margin-right: 1rem;
  }
}

.app-bar-logo {
  margin: 0 $bar-logo-margin;
  height: $bar-logo-height;
}

.app-bar-headline {
  margin-right: auto;
  font-weight: 500;
  font-size: 1.375rem;
  font-family: Poppins, Roboto;
}

.app-bar-avatar.avatar {
  margin: 0 8px;
  margin-right: 0;
  cursor: pointer;
}
